[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
rivescript = "*"
requests = "*"
beautifulsoup4 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
bot = "python bot.py"