[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
rivescript = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
bot = "python bot.py"